# CatvsDog data
# Download: https://www.kaggle.com/c/dogs-vs-cats-redux-kernels-edition/data
/Unsupervised/CNNs/CatvsDog keras basic/test.zip
/Unsupervised/CNNs/CatvsDog keras basic/train.zip
/Unsupervised/CNNs/CatvsDog keras basic/sample_submission.csv
